.hero {
    background-color: rgb(249, 249, 249);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    width: 100%;
}

.heroContainer {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
    position: relative;
    background-color: rgb(249, 249, 249);
}

.heroContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    position: relative;
    height: 35rem;

}

.heroMain {
    display: flex;
    align-items: center;
    gap: 5rem;
    justify-content: center;
    position: relative;
}

.heroText {
    display: flex;
    flex-direction: column;
    max-width: 40rem;
    line-height: 4rem;

    h1 {
        font-size: 3.43rem;
        color: #2D2E32;
        font-family: 'MainFont-bold';
        margin: 20px 0px;
    }

    p {
        color: #555;
        font-size: 1.13rem;
        max-width: 30rem;
        line-height: 1.8rem;
        margin: 0px;
        font-weight: bold;
    }
}


.heroLinks {
    a {
        color: #2D2E32;

        &:hover {
            color: blue;
        }
    }

}

.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;

    p {
        color: #555;
        font-size: 1.13rem;
        font-weight: bold;
    }

    ul {
        display: flex;
        list-style: none;

        li {
            margin-left: 10px;

            &:hover {
                animation: shake 0.5s
            }
        }
    }
}


.heroImg {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-image: url(/img/profile.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 20rem;
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

@media (max-width: 900px) {
    .heroContainer {
        margin: 0px;
    }

    .heroMain {
        flex-direction: column-reverse;
        gap: 5rem;
        text-align: center;
        height: auto;
    }

    .heroContent {
        height: auto;
        text-align: center;

        p {
            align-self: center;
        }

        .heroImg {
            margin-top: 2rem;
            height: 14rem;
            width: 14rem;
        }
    }

    .skills {
        flex-direction: column;

        ul {
            display: flex;
            flex-wrap: wrap;
        }
    }

}

@media (max-width: 460px) {
    .container {
        padding: 0 1.7rem;
    }
}


.about {
    background-color: #fff;
    padding: 7rem 0;
}

.aboutContainer {
    margin: 0 auto;
    max-width: 107rem;
    padding: 4rem 4rem;

}

.aboutContent {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 3rem;
}

.aboutImg {
    position: relative;
    background-image: url(/img/img1.jpg);
    border-radius: 1.7rem;
    height: 20rem;
    width: 26rem;
}

.workEmoji {
    bottom: 35px;
    position: absolute;
    left: 82%;
    transform: translate(0, 25%);
    width: 4rem !important;
    height: 4rem !important;
    z-index: 100;
}

.rotatedSvg {
    position: absolute;
    animation: spin 9s linear infinite;
    width: 10rem !important;
    height: 10rem !important;
    z-index: 99;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.aboutImgSpan {
    background-color: white;
    border-radius: 50%;
    right: 0;
    bottom: 0;
    transform: translate(22%, 25%);
    height: 10rem;
    position: absolute;
    width: 10rem;
}

.aboutText {
    padding-right: 1.5rem;

    h2 {
        color: #147efb;
        font-size: 1.1rem;
        font-family: 'MainFont-bold'
    }

    h1 {
        font-family: 'MainFont-bold';
        color: #2D2E32;

    }

    p {
        color: #555;
        font-weight: bold;
    }
}

@media (max-width: 1020px) {
    .aboutContent {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .rotatedSvg {
        right: 3px;
    }
}

@media (max-width: 900px) {
    .aboutContent {
        padding-top: 200px;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .about {
        margin-top: 100px;
    }

    .aboutImg {
        height: 15rem;
        width: 20rem;
    }

    .workEmoji {
        left: 75%
    }
}

@media (max-width: 500px) {
    .about {
        margin-top: 150px;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.projects {
    background-color: #f9f9f9;
    padding: 10rem 0;
}

.projectsContainer {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;

    p {
        text-align: center;
        color: #555;
        font-weight: bold;
    }
}

.contact {
    background-color: #fff;
    padding: 7rem 0;
}

.contactContainer {
    margin: 0 auto;
    max-width: 107rem;
    padding: 0 4rem;
}

.contactContant {
    display: flex;
    flex-direction: column;
}

.contactTitles {
    text-align: center;

    h4 {
        color: #147efb;
        font-weight: bold;
    }

    p {
        font-size: 1.56rem;
        font-family: 'MainFont-bold'
    }
}

.contactReasources {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

    .ResourceItem {
        display: flex;
        text-align: center;
        align-items: center;
        gap: 10px;
        color: #555;
        font-weight: bold;
        p{
            line-height: 0.2rem;
        }
    }
}

@media (max-width: 650px){
    .contactReasources{
        flex-direction: column;
    }
}