.nav {
    margin-left: auto;
    >*{
        margin-left: 20px;
        text-decoration: none;
        font-size: 1.07rem;
        color: #2D2E32;
        font-family: 'MainFont-semi-bold';
    }
}

.resizedNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s;
    transform: translateX(100%);
    right: 0;
    height: 100vh;
    width: 30%;
    background-color: white;
    position: fixed;
    font-size: 1.07rem;
    color: #2D2E32;
    font-family: 'MainFont-semi-bold';
    gap: 50px;
    z-index: 1000;
    >*{
        text-decoration: none;
        font-size: 1.07rem;
        color: #2D2E32;
        font-family: 'MainFont-semi-bold';
    
        text-decoration: none;
    }
}

.resizedNav.expanded {
    transform: translateX(0%);
}

.menu{
    margin-left: auto;
}


