body {
     font-family: 'MainFont';
     margin-left: 0px;
     margin-top: 0px;
     width: 100%;
     box-sizing: border-box;
     scroll-behavior: smooth;
}

header {
     position: sticky;
     display: flex;
     justify-content: space-between;
     padding: 25px 40px 25px 50px;
     top: 0;


     left: 0;
     box-shadow: 0px 10px 10px rgba(232, 234, 233, 0.5);
     z-index: 1000;
     background-color: white;

     .logo {
          color: #2D2E32;
          font-weight: 900;
          padding: 0px;
          margin: 0px;
          font-family: 'MainFont-bold';
          font-size: 1.3rem;
          height: 0px
     }

     nav>* {
          margin-left: 20px;
          text-decoration: none;
          font-size: 1.07rem;
          color: #2D2E32;
          font-family: 'MainFont-semi-bold';
     }

}

footer {
     background-color: #2d2e32;
     padding: 2em 0;
     width: 100%;
     color: white;
}

.footerContainer {
     margin: 0 auto;
     max-width: 107rem;
     padding: 0 4rem;
}

.footerc{
     text-align: center;
     font-weight: bold;
}

@font-face {
     font-family: 'MainFont';
     src: url('/fonts/Poppins-Light.ttf');
}

@font-face {
     font-family: 'MainFont-bold';
     src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
     font-family: 'MainFont-semi-bold';
     src: url('/fonts/Poppins-SemiBold.ttf');
}